  <div class="bg-dark-green text-dark-green text-white">
    <div class="row mx-auto" style="width: 95%; padding-top:20px">
      <div class="col-md-6 text-left">
        <p>Copyrights &copy Getion M.D.S.Inc 2017.</p>
      </div>
      <div class="col-md-6 text-right">
        <a class="text-white" href="#">Info@learningaboutvalues.com</a>
      </div>
    </div>
  </div>
