<!-- Libraries -->
{{> font}}

<!-- Bootstrap core CSS -->
<link  rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="/stylesheets/base.css">

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

