<!-- slider linear color gauge include -->
<link rel="stylesheet" href="/stylesheets/slider-gauge.css">
<!-- jqueryui include -->
<link rel="stylesheet" href="/stylesheets/jqueryui.css">
<link rel="stylesheet" href="/stylesheets/jquery-ui-slider-pips.css">

<!-- highcharts include -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/script/highcharts/highcharts.js"></script>
<script src="/script/highcharts/highcharts-more.js"></script>

<!-- slider linear color gauge include -->
<script src="/script/slider-gauge.js"></script>
<!-- slider pips -->
<script src="/script/jquery-ui-slider-pips.js"></script>

