<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>Baro-Value</title>
    {{> head}}
    {{> head_custom}}
  </head>
  <body>
      <div class="bg-light-green">
        <div class="row mx-auto">
          <div class="col-xl-2"></div>
          <div class="col-md-4 col-xl-2">
            <img src="logo.png" class="img-fluid mx-auto d-block" alt="logo img" width="200" height="200">
          </div>
          <div class="col-md-8 col-xl-6">
            <div class="form-group text-dark-green mx-auto text-center" style="margin-top:20px;">
              <h1 class="heading-font text-white">BARO-VALUE</h1>
              <h4 class="subheading-font">Measuring the real barometer of</h4>
              <h4 class="subheading-font">"values in action" in my firm</h4>
            </div> 
          </div>
          <div class="col-xl-2"></div>
        </div>
      </div>
      <div class="bg-light-grey">
        <div class="row mx-auto" style="padding:60px 20px">
          <div class="col-xl-2">
          </div>
          <div class="col-md-6 col-xl-4" style="padding:10px">
            <div class="text-dark-green mx-auto" style="width:80%; height:100%">
              <h1 class="subtitle1"> I care </h1>
              <h1 class="subtitle2"> about </h1>
              <h1 class="subtitle3"> values </h1>
              <div class="" style="padding-top:20px">
                <a class="btn btn-primary sharp raised btn-lg" id="get_started" href="#">GET STARTED</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4" style="padding:10px">
            <div class="text-dark-green bg-light-green mx-auto text-center" style="width:80%;  height:100%">
              <form action="/user_step1" method="post">
                <div class="row" style="width:100%; margin:0px">
                  <div class="form-group mx-auto" style="padding-top:60px">
                    <h2>Members Access</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group mx-auto text-dark-green" style="padding-top:70px">
                    <input name="code" type="text" placeholder="Insert your code" class="form-control mx-auto text-center input-lg" style="">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group mx-auto" style="padding-top:70px">
                    <button type="submit" class="btn btn-primary general sharp raised">OK</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xl-2">
          </div>
        </div>
      </div>
      <div class="bg-light-green text-center">
        <p class="subheading-title text-white" style="padding:20px 5px; margin:0px"><b>What is Baro-Values?</b></p>
      </div>
      <div class="bg-light-grey">
        <div class="row mx-auto" style="padding:20px 20px 50px 20px">
          <div class="col-xl-2"></div>
          <div class="col-md-12 col-xl-8">
            <div class="form-group text-dark-green text-justify" style="margin-top:20px;">
                <h4 class="tutorial-font">The Baro-value has been designed to show specific gaps between the 
                  desired culture and the actual values practiced in day to day activities 
                  in a firm. Research shows that culture gaps and value incongruence 
                  can lead to low productivity, low morale, turnover of talented employees 
                  and other negative personal consequences.</h4>
            </div> 
          </div>
          <div class="col-xl-2"></div>
        </div>
        <div class="row mx-auto basic-width" style="padding:10px">
          <div class="mx-auto">
            <img src="tutorial.png" class="img-fluid" alt="logo img" width="700" height="250">
          </div> 
        </div>
      </div>
      <div class="bg-light-green text-center">
        <p class="subheading-title text-white" style="padding:20px 5px; margin:0px"><b>How does it work?</b></p>
      </div>
      <div class="bg-light-grey">
        <div class="row mx-auto" style="padding:20px 20px">
          <div class="col-xl-2"></div>
          <div class="col-md-12 col-xl-8">
            <div class="form-group text-dark-green text-justify" style="margin-top:20px;">
              <h4 class="tutorial-font">
                Each member of the firm, completes its characteristic data (with 
                statistical character) and a specially designed survey, both 
                completely anonymously through the use of our Baro-Values APP.<br>
                The data are contrasted by as hoc algorithms that allow each firm 
                to obtain the profile of its values.
              </h4>
            </div> 
          </div>
          <div class="col-xl-2"></div> 
        </div>
        <div class="mx-auto slider-width" style="padding:20px">
          <div class="bg-light-green text-dark-green mx-auto" style="margin-bottom:0px">
            <div class="row text-white" style="padding:0px">
              <p class="slider-head-font" style="padding-left:20px">1. Leaders and senior management in my organization tolerate deviation from the stated core values</p>
            </div>
          </div>
          <div class="bg-light-blue text-dark-green mx-auto border-light-green" style="margin-top:0px">
            <div class="slider-custom" id="s1">
              <div class="row mx-auto" style="margin-top:0px">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-xl-3 text-center">
                      <p class="slider-body-font">Yes, indeed - there is high tolerance (allowing lots of flexibility and interpretations)</p>
                    </div>
                    <div class="col-xl-6"></div>
                    <div class="col-xl-3 text-center">
                      <p class="slider-body-font">Not at all - there is low tolerance (people can even be fired or severely punished</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-xl-10">
                      <div class="color-slider" style="margin-top:10px;">
                        <div class="custom-handle ui-slider-handle"></div>
                      </div>
                    </div>
                    <div class="col-xl-1">
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div id="s1-gauge" style="height:150px">
                  </div>  
                </div>
                <div class="col-md-2" style="padding:10px 20px">
                  <div class="slider-text bg-white border-light-green mx-auto text-center" style="font-size:30px; width:80%; height:80px; margin:0px"></div> 
                  <p class=" text-center tutorial-font">Your Score</p> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-auto" style="padding:20px 20px">
          <div class="col-xl-2"></div>
          <div class="col-md-12 col-xl-8">
            <div class="form-group text-dark-green text-justify" style="margin-top:20px;">
              <h4 class="tutorial-font">
                The members of the firm with Master access to the application will 
                be able to generate reports related to the values based on the 
                characteristics of the selected groups.<br>
                Once specific and representative values and biases have been 
                identified, your company can initiate a plan of action to increase 
                the internal well-being and production.
              </h4>
            </div> 
          </div>
          <div class="col-xl-2"></div>
        </div>
      </div>
      <div class="bg-light-green text-center">
        <p class="subheading-title text-white" style="padding:20px 5px; margin:0px"><b>Interpreting The Results</b></p>
      </div>
      <div class="bg-light-grey">
        <div class="row text-dark-green mx-auto text-justify" style="padding:70px 20px 0px 20px;">
            <div class="col-xl-1"></div>
            <div class="col-md-4 col-xl-2">
                  <img src="baro_low.png" class="img-fluid rounded-circle mx-auto d-block" alt="logo img" width="150" height="150">
            </div>
            <div class="col-md-8 col-xl-8">
              <h4 class="tutorial-font">At the red portion of the gauge dial your Baro-value is very low, 
                  indicating a big gap between the levle of values preached for (on the wall) 
                  and the level of values practiced (values in action).</h4>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row text-dark-green mx-auto text-justify" style="padding:20px 20px 0px 20px;">
            <div class="col-xl-1"></div>
            <div class="col-md-4 col-xl-2">
                  <img src="baro_mid.png" class="img-fluid rounded-circle mx-auto d-block" alt="logo img" width="150" height="150">
            </div>
            <div class="col-md-8 col-xl-8">
              <h4 class="tutorial-font">At the yellow portion of the gauge dial your Baro-value is average. 
                  It means that there is some gap between the level of values preached (on the wall) 
                  and the level of values practiced (values in action). 
                  However, at in all, this is a normal situation.</h4>
            </div>
            <div class="col-xl-1"></div>
        </div>
        <div class="row text-dark-green mx-auto text-justify" style="padding:20px 20px 30px 20px">
            <div class="col-xl-1"></div>
            <div class="col-md-4 col-xl-2">
                  <img src="baro_high.png" class="img-fluid rounded-circle mx-auto d-block" alt="logo img" width="150" height="150">
            </div>
            <div class="col-md-8 col-xl-8">
              <h4 class="tutorial-font">At the green portion of the gauge dial your Baro-value is very high.
                  It means that there is no or very little gap between the level of values preached (on the wall)
                  and the level of values practiced (values in action).
                  This is usually a sign of a healthy, high performance and positive organizational culture
                  where peoples live and thrive values.</h4>
            </div>
            <div class="col-xl-1"></div>
        </div>
      </div>
      <div class="bg-light-green text-center" id="get_stated_anchor">
        <p class="subheading-title text-white" style="padding:20px 5px; margin:0px"><b>Choosing your plan</b></p>
      </div>
      <div class="bg-light-grey">
        <div class="row mx-auto sub-width" style="padding:70px 20px">
          <div class="col-lg-4" style="padding:10px">
            <div class="form-group bg-white border-dark-green mx-auto text-dark-green text-center" style="height:100%; padding:70px 10px">
              <h2 class="purchase-font" style="padding-bottom:30px;">{{payment_method.payment.0.method}} {{payment_method.payment.0.price}}&euro;</h2>
              <p class="purchase-font" style="padding-bottom:30px;"> 
                1 to {{payment_method.payment.0.number_users}} users <br>
                General report <br>
                {{payment_method.payment.0.number_master}} Master accesee <br>
                Common WebApp
              </p><!-- /pay?method=0-->
              <a id="purchase1" class="btn btn-primary general sharp raised" data-toggle="modal" data-target="#myModalPayPal" href="#">PURCHASE</a>
            </div>
          </div>
          <div class="col-lg-4" style="padding:10px">
            <div class="form-group bg-white border-dark-green mx-auto text-dark-green text-center" style="height:100%; padding:70px 10px">
              <h2 class="purchase-font" style="padding-bottom:30px;">{{payment_method.payment.1.method}} {{payment_method.payment.1.price}}&euro;</h2>
              <p class="purchase-font" style="padding-bottom:30px;"> 
                1 to {{payment_method.payment.1.number_users}} users <br>
                Group target reports <br>
                {{payment_method.payment.1.number_master}} Master accesee <br>
                Common WebApp
              </p>
              <a id="purchase2" class="btn btn-primary general sharp raised" data-toggle="modal" data-target="#myModalPayPal" href="#">PURCHASE</a>
            </div>
          </div>
          <div class="col-lg-4" style="padding:10px">
            <div class="form-group bg-white border-dark-green mx-auto text-dark-green text-center" style="height:100%; padding:70px 10px">
              <h2 class="purchase-font" style="padding-bottom:30px;">{{payment_method.payment.2.method}} {{payment_method.payment.2.price}}</h2>
              <p class="purchase-font" style="padding-bottom:30px;"> 
                {{payment_method.payment.2.number_users}} users <br>
                Customized reports <br>
                1 to {{payment_method.payment.2.number_master}} Master accesee <br>
                Customized WebApp
              </p>
              <a id="purchase3"  class="btn btn-primary general sharp raised" data-toggle="modal" data-target="#myModalPayPal" href="#">QUOTE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light-green text-dark-green">
        <div class="mx-auto text-justify" style="width:90%; padding:20px 5px"> 
          <p class="footer-font">Baro-value was created by Simon Dolan and Avi Liran.
              It was inspired by a paper published in the European Business Review, entitled
              "Values, values on the wall, just do business and forget them all" (TEBR Nov-Dec 2016 12-17).
              The concept has evolved from the principles described in our books "Managing by Values" (Dolan et al, 2006) 
              and "Coaching by Values" (Dolan, 2011). All rights reserved to Gestion M.D.S. inc. &copy; 2017
          </p>
        </div>
      </div>
      <div class="bg-dark-green text-white">
        <div class="row mx-auto" style="width: 95%; padding-top:20px">
          <div class="col-md-6 text-left">
            <p class="footer-font">Copyrights &copy; Getion M.D.S.Inc 2017.</p>
          </div>
          <div class="col-md-6 text-right">
            <a class="text-white footer-font" href="/email_test">Info@learningaboutvalues.com</a>
          </div>
        </div>
      </div>

      <!-- PayPal Modal treatment -->

      <div class="modal fade mx-auto modal-paypal" id="myModalPayPal">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <form name="form" action="/pay" method="post">
                <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                  <div class="col-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="col-10">
                    <p style="font-size: 26px">
                      BARO-VALUE
                    </p>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row" style="margin-top:5px;padding:5px">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <h2 id="price" class="text-black" style="font-size:20px; display:inline"></h2>
                    <h2 class="text-black" style="font-size:20px; display:inline">&euro;</h2>
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row" style="margin-top:5px;padding:5px">
                  <div class="col-2"></div>
                  <div class="col-8 text-light-green">
                    <input name="company_name" id="company_name" type="text" placeholder="Company Name" class="form-control mx-auto input-lg" style="" required />
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row" style="margin-top:5px;padding:5px">
                  <div class="col-2"></div>
                  <div class="col-8 text-light-green">
                    <select name="organization_type" id="organization_type" class="select-creteria form-control mx-auto text-center" required />
                      <option value="" selected>Organization Type</option>
                      <option value="Private">Private</option>
                      <option value="Public">Public</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row" style="margin-top:5px;padding:5px">
                  <div class="col-2"></div>
                  <div class="col-8 text-light-green">
                    <select name="organization_size" id="organization_size" class="select-creteria form-control mx-auto text-center" required />
                      <option value="" selected>Organization Size</option>
                      <option value="Less than 9 people">Less than 9 people</option>
                      <option value="Between 10-99 people">Between 10-99 people</option>
                      <option value="Between 100-499 people">Between 100-499 people</option>
                      <option value="Between 500-999 people">Between 500-999 people</option>
                      <option value="Between 1000-9999 people">Between 1000-9999 people</option>
                      <option value="More than 10,000 people">More than 10,000 people</option>
                    </select>
                  </div>
                  <div class="col-2"></div>
                </div>
                <div class="row" style="padding-top:10px">
                  <input id="nonce" type="hidden" name="payment_method_nonce">
                  <input id="amount" type="hidden" name="amount" value="">
                  <input id="method" type="hidden" name="method" value="">
                  <input id="email" type="hidden" name="email" value="">
                  <div class="mx-auto" id="paypal-button"></div>
                </div>
                <div class="row">
                  <div class="form-group mx-auto" style="padding-top:10px">
                    <button type="submit" id="dialog-build" {{!--disabled="true"--}} class="btn btn-primary general sharp raised" href="/pay?method=0">Apply</button>
                  </div>
                  <div class="hide" >
                    <a data-toggle="modal" data-target="#myModalAlert" id="dialog-alert"></a>
                  </div>
                </div>
                <div id="loading-div-background">
                  <div id="loading-div" class="ui-corner-all" >
                    <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Alert Modal treatment -->

      <div class="modal fade mx-auto modal-alert" id="myModalAlert">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-10">
                  <p style="font-size: 20px">
                    You have to check out the paypal accout transaction.
                  </p>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row mx-auto text-center" style="width:100%; margin:0px; padding:20px 20px">
                <div class="col-12">
                  <a class="btn btn-primary general sharp raised" data-dismiss="modal">
                    OK
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        $(document).ready(function () {
            $("#loading-div-background").css({ opacity: 0.8 });
        });

        function ShowProgressAnimation() {
           console.log("please wait message show");
           $("#loading-div-background").show();            
        }
        
    </script>

      <script>
        $('#get_started').click(function(){
          $('html, body').animate({
              scrollTop: $( '#get_stated_anchor').offset().top
          }, 500);
        });
        $('#purchase1').click(function(){  
          $('#price').text('{{payment_method.payment.0.price}}');
          $('#amount').val('{{payment_method.payment.0.price}}');
          $('#method').val(0);
        });
         $('#purchase2').click(function(){  
          $('#price').text('{{payment_method.payment.1.price}}');
          $('#amount').val('{{payment_method.payment.1.price}}');
          $('#method').val(1);
        });
         $('#purchase3').click(function(){  
          $('#price').text('{{payment_method.payment.2.price}}');
          $('#amount').val('{{payment_method.payment.2.price}}');
          $('#method').val(2);
        });

        
        $('#dialog-build').click(function(event){  
          
          if($('#company_name').val() && $('#organization_type').val() && $('#organization_size').val()){            
            if(!$('#nonce').val()){      
              $('#dialog-alert').click();        
              event.preventDefault();
            }else{
              ShowProgressAnimation();
            }
          }
        });
      </script>

      <!-- PayPal Payment -->
      <!-- Load PayPal's checkout.js Library. -->
      <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>

      <!-- Load the client component. -->
      <script src="https://js.braintreegateway.com/web/3.26.0/js/client.min.js"></script>

      <!-- Load the PayPal Checkout component. -->
      <script src="https://js.braintreegateway.com/web/3.26.0/js/paypal-checkout.min.js"></script>
      <script>
        var token = '{{clientToken}}';
          // Create a client.
        braintree.client.create({
          authorization: token    //CLIENT_AUTHORIZATION
        }, function (clientErr, clientInstance) {
          
          // Stop if there was a problem creating the client.
          // This could happen if there is a network error or if the authorization
          // is invalid.
          if (clientErr) {
            console.error('Error creating client:', clientErr);
            return;
          }

          // Create a PayPal Checkout component.
          braintree.paypalCheckout.create({
            client: clientInstance
          }, function (paypalCheckoutErr, paypalCheckoutInstance) {

            // Stop if there was a problem creating PayPal Checkout.
            // This could happen if there was a network error or if it's incorrectly
            // configured.
            if (paypalCheckoutErr) {
              console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
              return;
            }

            // Set up PayPal with the checkout.js library
            paypal.Button.render({
              env: 'sandbox', // or 'production'

              payment: function () {
                return paypalCheckoutInstance.createPayment({
                  flow: 'vault',
                  currency: 'Euro',
                  intent: 'sale',
                  offerCredit: 'false'
                  // Your PayPal options here. For available options, see
                  // http://braintree.github.io/braintree-web/current/PayPalCheckout.html#createPayment
                });
              },

              onAuthorize: function (data, actions) {
                return paypalCheckoutInstance.tokenizePayment(data)
                  .then(function (payload) {
                    // Submit `payload.nonce` to your server.
                    document.querySelector('#nonce').value = payload.nonce;
                    document.querySelector('#email').value = payload.details.email;
                    //document.querySelector('#dialog-build').disabled = false;
                  });
              },

              onCancel: function (data) {
                console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
              },

              onError: function (err) {
                console.error('checkout.js error', err);
              }
            }, '#paypal-button').then(function () {
              console.log("paypal-button render");
              // The PayPal button will be rendered in an html element with the id
              // `paypal-button`. This function will be called when the PayPal button
              // is set up and ready to be used.
            });

          });

        });
      </script>
  </body>
</html>