<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>user_step2</title>
    {{> head}}
  </head>
  <body>
    <div class="bg-light-grey text-light-green" style="min-height:6%; padding:10px 20px">
      <div class="row" style="paddig:0px, margin:0px">
        <div class="col-6">
          <b style="font-size:20px">{{firm_name}}</b>
        </div>
        <div class="col-6 text-right">
          <a data-toggle="modal" data-target="#myModalLogout">
            <img src="hamburger_lightgreen.png" class="img-fluid" alt="master img" width="20" height="20">
          </a>
        </div>
      </div>
    </div>

<!-- Logout Modal treatment -->

      <div class="modal fade mx-auto modal-logout" id="myModalLogout">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-10">
                  <p style="font-size: 20px">
                    Are you going to logout?
                  </p>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row text-center" style="width:100%; margin:0px; padding:20px 20px">
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" data-dismiss="modal" aria-label="Close">
                    NO
                  </a>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" href="/">
                    YES
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>

    <div class="bg-light-green" style="min-height:94%">
      <div class="row mx-auto basic-width" style="padding:70px 20px;  height: 100%">
        <div class="col-lg-7">
          <div class="form-group bg-light-green text-white mx-auto" style="width:80%; padding:20px">
            <p class="welcome-font"><b>Step2</b></p>
            <p class="welcome-font">
              Some specific data...<br>
              will help as to a group
              the obtained values based
              on common characteristics.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="form-group bg-white mx-auto text-grey text-center" style="padding:20px; width: 80%">
            <h4 style="padding:20px;">Basic Data Collection</h4>
            <form action="/user_answer" method="post">
              <input id="method" type="hidden" name="userCode" value="{{user_code}}">
              <input id="method" type="hidden" name="linkCode" value="{{link_id}}">
              <div class="form-group text-center">
                <select name="organization_years" class="form-control mx-auto text-center">
                  <option value="" selected>Years work for organization</option>
                  <option value="Less than a year">Less than a year</option>
                  <option value="1-5years">1-5years</option>
                  <option value="6-10years">6-10years</option>
                  <option value="11-15years">11-15years</option>
                  <option value="15-20years">15-20years</option>
                  <option value="More than 20years">More than 20years</option>
                </select>
              </div>
              <div class="form-group text-center">
                <select name="job_category" class="form-control mx-auto text-center" required />
                  <option value="" selected>Class of Job Category</option>
                  <option value="Worker">Worker</option>
                  <option value="Officer">Officer</option>
                  <option value="other">other</option>
                </select>
              </div>
              <div class="form-group text-center">
                <select name="current_job_years" class="form-control mx-auto text-center">
                  <option value="" selected>Years of working in current job</option>
                  <option value="Less than a year">Less than a year</option>
                  <option value="1-5years">1-5years</option>
                  <option value="6-10years">6-10years</option>
                  <option value="11-15years">11-15years</option>
                  <option value="15-20years">15-20years</option>
                  <option value="More than 20years">More than 20years</option>
                </select>
              </div>
              <div class="form-group text-center">
                <select name="work_type" class="form-control mx-auto text-center" required />
                  <option value="" selected>Type of work arrangement</option>
                  <option value="Full time">Full time</option>
                  <option value="Part time">Part time</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form-group text-center">
                <select name="birthday" class="form-control mx-auto text-center" required />
                  <option value="" selected>Age</option>
                  <option value="15-20 years old">15-20 years old</option>
                  <option value="20-25 years old">20-25 years old</option>
                  <option value="25-30 years old">25-30 years old</option>
                  <option value="30-35 years old">30-35 years old</option>
                  <option value="35-40 years old">35-40 years old</option>
                  <option value="40-45 years old">40-45 years old</option>
                  <option value="45-50 years old">45-50 years old</option>
                  <option value="50-55 years old">50-55 years old</option>
                  <option value="55-60 years old">55-60 years old</option>
                  <option value="60-65 years old">60-65 years old</option>
                  <option value="65-70 years old">65-70 years old</option>
                  <option value="70-75 years old">70-75 years old</option>
                  <option value="75-80 years old">75-80 years old</option>
                  <option value="80-85 years old">80-85 years old</option>
                  <option value="85-90 years old">85-90 years old</option>
                  <option value="90-95 years old">90-95 years old</option>
                  <option value="Above 95 years old">Above 95 years old</option>
                </select>
              </div>
              <div class="form-group text-center">
                <select name="gender" class="form-control mx-auto text-center" required />
                  <option value="" selected>Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="form-group text-center">
                <select name="organization_location" class="form-control mx-auto text-center" required />
                  <option value="" selected>Location of the organization</option>
                  <option value="Large metropolitan area">Large metropolitan area</option>
                  <option value="Rural area">Rural area</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form-group text-center">
                <select name="employees_type" class="form-control mx-auto text-center" required />
                  <option value="" selected>Type of employees</option>
                  <option value="same cultureal background">same cultureal background</option>
                  <option value="diverse cultureal background">diverse cultureal background</option>
                </select>
              </div>
              <div class="form-group" style="padding-top:10px">
                <button class="btn btn-secondary general sharp raised">OK</button>
                {{!-- <a class="btn btn-secondary general sharp raised" href="/user_answer?userCode={{user_code}}">OK</a> --}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>