<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>Baro-Value</title>
    {{> head}}
    {{> head_custom}}
  </head>
  <body>
    <div class="bg-light-green text-white" style="min-height:6%; padding:10px 20px">
      <div class="row" style="paddig:0px, margin:0px">
        <div class="col-6">
          <b style="font-size:20px">{{firm_name}}</b>
        </div>
        <div class="col-6 text-right">
          <a data-toggle="modal" data-target="#myModalLogout">
            <img src="hamburger.png" class="img-fluid" alt="master img" width="20" height="20">
          </a>
        </div>
      </div>
    </div>

<!-- Logout Modal treatment -->

      <div class="modal fade mx-auto modal-logout" id="myModalLogout">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-10">
                  <p style="font-size: 20px">
                    Are you going to logout?
                  </p>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row text-center" style="width:100%; margin:0px; padding:20px 20px">
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" data-dismiss="modal" aria-label="Close">
                    NO
                  </a>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" href="/">
                    YES
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
<!-- Logout Modal treatment End-->

      <div id="user_ajax">
        <div class="bg-white" style="padding:20px">
          <div class="text-dark-green text-center mx-auto">
            <p class="subheading-font" style="margin:0px; padding:2px 30px"><b>
              TO WHAT EXTENT DOES YOUR ORGANIZATION PRACTICE THE FOLLOWING</b>
            </p>
          </div>
        </div>
        {{#each question}}
          <div class="slider-custom" id="s{{@index}}">
            <div class="bg-white mx-auto" style="padding:20px">
              <div class="bg-light-green mx-auto" style="margin-bottom:0px">
                <div class="row" style="padding:0px">
                  <p class="questions_row tutorial-font text-white" style="padding-left:20px; display:inline">{{@index}}</p>
                    <input type="hidden" class="questions question_value" value="{{question}}">
                </div>
              </div>
              <div class="bg-light-blue mx-auto border-light-green" style="margin-top:0px">  
                <div class="row" style="margin-top:0px">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-3 text-center">
                        <p class="slider-body-font">{{min}}</p>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-3 text-center">
                        <p class="slider-body-font">{{max}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                        <div class="color-slider" style="margin-top:10px;">
                          <div class="custom-handle ui-slider-handle"></div>
                        </div>
                      </div>
                      <div class="col-md-1">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div id="s{{@index}}-gauge" style="height:150px">
                    </div>  
                  </div>
                  <div class="col-md-2" style="padding:10px 20px">
                    <div class="slider-text bg-white border-light-green mx-auto text-center" id="text-s-{{@index}}" style="font-size:30px; width:80%; height:80px; margin:0px"></div> 
                    <p class=" text-center tutorial-font">Your Score</p> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        <div class="bg-white mx-auto" style="padding:20px">
          <div class="bg-light-green mx-auto" style="margin-bottom:0px">
            <div class="row text-center mx-auto" style="padding:20px">
              <div class="col-md-2"></div>
              <div class="col-md-5">
                <div class="row text-dark-green text-center mx-auto">
                    <p class="subheading-font" style="width:100%"><b>
                      AGGREGATE OR TOTAL SCORE
                    </b></p>
                </div>
                <div class="row mx-auto">
                  <p class="tutorial-font">
                    Sum up the Total Baro-value score and place the total here:
                  </p>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-2">
                <div class="border-light-green bg-white mx-auto text-center tutorial-font" id="avg_value" style="width:80%; height:80px; margin:0px"></div> 
                <p class=" text-center tutorial-font">Your Score</p> 
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
        <div class="bg-white mx-auto" style="padding:20px">
          <div class="row text-center mx-auto" style="padding:20px">
            <div class="col-md-12">
              <button type="submit" id="result_post" class="btn btn-primary general sharp raised">SUBMIT</button>
            </div>
          </div>
        </div>
        <div class="bg-white mx-auto" style="padding:0px 20px">
          <div class="row text-justify mx-auto" style="padding:20px">
            <p class="footer-font" style="width:100%">
              Baro-value was created  by Simon  Dolan and Avi  Liran.  
              It was inspired  by a paper published  in the  European  Business Review , 
              entitled "Values, values on the wall, just do business and forget them all"	
              (TEBR Nov-Dec 2016:  12-17).	The concept has evolved from the principles described  
              in our books "Managing  by Values" (Dolan et al, 2006) and "Coaching  by Values" 
              (Dolan, 2011 ).  All  rights reserved to Gestion  M.D.S.  inc.© 2017
              <img src="logo.png" class="img-fluid mx-auto" alt="logo img" width="50" height="50">
            </p>
          </div>
        </div>
        <div class="bg-light-green text-center">
          <div class="row mx-auto basic-width">
            <div class="col-md-4 text-left">
              <p class="footer-font" style="padding-top:14px">Copyrights &copy; Getion M.D.S.Inc 2017.</p>
            </div>
            <div class="col-md-4">
              <p style="padding-top:10px">Contact: <a class="btn btn-success" style="font-size:18px; padding-top:0px" href="#">Info@learningaboutvalues.com</a></p>          
            </div>
            <div class="col-md-4 text-right">
              <p style="padding-top:10px">Web: <a class="btn btn-success footer-font" style="font-size:18px; padding-top:0px" href="#">www.learning-about-values.com</a></p>
            </div>
          </div>
        </div>
      </div>
    <script src="/script/radial_guage.js"></script>
    <script>

      $(function() {
        ajax_change();
      });

      $(".slider-custom").each(function(){
        var index = parseInt($(".questions_row", $(this)).text()) + 1;
        var question = index + '. '+$(".question_value", $(this)).val();
        $(".questions_row", $(this)).text(question);
      });

      $('#result_post').click(function(event){
        
        function roundToTwo(num) {    
          return +(Math.round(num + "e+2")  + "e-2");
        }
        var marks=[];
        var avg_result=0.0;
        var index = 0;
        var userCode = '{{user_code}}';
        var organization_years = '{{organization_years}}';
        var job_category = '{{job_category}}';
        var current_job_years = '{{current_job_years}}';
        var work_type = '{{work_type}}';
        var birthday = '{{birthday}}';
        var gender = '{{gender}}';
        var organization_location = '{{organization_location}}';
        var employees_type = '{{employees_type}}';
        var link_id = '{{link_id}}';

        $(".slider-custom").each(function(){
          var $this = $(this);
          var slider_text = $( ".slider-text", $this );
          var question = $( ".questions", $this )[0].value;
          if(slider_text.text().length){
            marks.push({"question": question, "mark": parseFloat(slider_text.text())});
            avg_result = avg_result + parseFloat(slider_text.text());
          } else {
            marks.push({"question": question, "mark": 0.0});
            avg_result = avg_result;
          }
          index = index + 1;
        });

        avg_result = avg_result / index;
        $('#avg_value').text(roundToTwo(avg_result));
        
        $('#avg_mark').val(avg_result);
        $('#mark').val(JSON.stringify(marks));
        $('#count').val(index);
        
        $.post("/register_result", {mark: JSON.stringify(marks),
                                    link_id: link_id,
                                    avg_mark: avg_result, 
                                    count: index, 
                                    organization_years:organization_years,
                                    job_category:job_category,
                                    current_job_years:current_job_years,
                                    work_type:work_type,
                                    birthday:birthday,
                                    gender:gender,
                                    organization_location:organization_location,
                                    employees_type:employees_type,
                                    user_code:userCode}, function(data){
          if(data){
            $("#user_ajax").html(data);
            ajax_change();
          }
        });
      });
    </script>
  </body>
</html>