<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>user_step1</title>
    {{> head}}
  </head>
  <body>
    <div class="bg-light-grey text-light-green" style="min-height:6%; padding:10px 20px">
      <div class="row" style="paddig:0px, margin:0px">
        <div class="col-6">
          <b style="font-size:20px">{{firm_name}}</b>
        </div>
        <div class="col-6 text-right">
          <a data-toggle="modal" data-target="#myModalLogout">
            <img src="hamburger_lightgreen.png" class="img-fluid" alt="master img" width="20" height="20">
          </a>
        </div>
      </div>
    </div>

<!-- Logout Modal treatment -->

      <div class="modal fade mx-auto modal-logout" id="myModalLogout">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-10">
                  <p style="font-size: 20px">
                    Are you going to logout?
                  </p>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row text-center" style="width:100%; margin:0px; padding:20px 20px">
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" data-dismiss="modal" aria-label="Close">
                    NO
                  </a>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" href="/">
                    YES
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>

    <div class="bg-light-green" style="min-height:95%">
      <div class="row mx-auto basic-width" style="padding:70px 20px">
        <div class="col-lg-7">
          <div class="form-group bg-light-green text-white mx-auto" style="width:80%; padding:20px">
            <p class="welcome-font"><b>Step1</b></p>
            <p class="welcome-font">
              Here we go...<br>
              An easy to fill 10 items
              survey will help all of 
              us to improve our firm.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="form-group bg-white mx-auto text-grey text-center" style="padding:20px; width: 80%; height:100%">
            <h2 style="padding:20px;">Terms</h2>
            <p class="text-left subheading-font" style="padding:20px;"> 
              Every data collected on the survey is completely anonymous...
            </p>
            <div class="form-group" style="padding-top:100px">
              <a class="btn btn-secondary general sharp raised" href="/user_step2?user_code={{user_code}}&link={{link_id.0.link_id}}">START</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>