<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>plan_choose</title>
    {{> head}}
  </head>
  <body>
    Welcome to the Baro-Value. This is the Master Code and User Code. 
    You can use these codes to test the questions and answers.
    <div class="bg-light-grey" style="height:100%; padding: 30px 5px">
      <div class="bg-white basic-width mx-auto border-dark-green">
        <div class="border-light-green" style="font-size:30px; padding:5px">
          <b>MASTER CODES</b>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Number</th>
              <th>Code</th>
            </tr>
          </thead>
          <tbody>
            {{#each master_code}}
              <tr>
                <td>{{@index}}</td>
                <td class="getMasterCode">{{this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="bg-white basic-width mx-auto border-dark-green">
        <div class="border-light-green" style="font-size:30px; padding:5px">
          <b>USER CODES</b>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Number</th>
              <th>Code</th>
              {{!-- <th>Status1</th>
              <th>Status2</th> --}}
            </tr>
          </thead>
          <tbody>
            {{#each user_code}}
              <tr>
                <td>{{@index}}</td>
                <td class="getUserCode">{{this}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    Thanks for your using. Good luck...
  </body>
</html>