html,body { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
  /* min-width:1440px; */
}

.basic-width{
  width: 80%;
}
.slider-width {
  width:100%;
}
@media(min-width:1200px){
  .slider-width {
    width:70%;
  } 
}

.sub-width {
  width:100%;
}
@media(min-width:576px){
  .sub-width {
    width:70%;
  } 
}
@media(min-width:768px){
  .sub-width {
    width:60%;
  } 
}
@media(min-width:992px){
  .sub-width {
    width:100%;
  } 
}
@media(min-width:1200px){
  .sub-width {
    width:80%;
  } 
}

.container {
  margin: 0px;
  padding:0px;
}

/* background color selection */
.bg-green{
  background-color: #00FF00;
}

.bg-light-green{
  background-color: #66CAD1;
}

.bg-salad-green{
  background-color: #BAF171;
}

.bg-dark-green{
  background-color: #008080;
}

.bg-forest-green{
  background-color: #165417;
}

.bg-light-blue{
  background-color: #D6F3FF;
}

.bg-light-grey{
  background-color: #EFEEEC;
}

.bg-white{
  background-color: #ffffff;
}

.bg-orange{
  background-color: #FFD5AE;
}

.bg-yellow{
  background-color: #FFFF94;
}

.bg-yellow-green{
  background-color: #A6FF94;
}

.bg-dark-grey{
  background-color: #848484;
}

/* text color selection */
.text-dark-green {
  color: #008080;
}

.text-white {
  color: white;
}

.text-grey{
  color: #9C9C9C;
}

.text-light-green {
  color: #66CAD1;
}

.text-black{
  color: #000000;
}

/* border-color */
.border-light-green{
  border: 1px solid #66CAD1;
}

.border-dark-green {
  border: 1px solid #008080;
}

.border-dark-grey{
  border:2px solid #848484;
}

/* title font setting */
.heading-font {
  font-family: 'Yeseva One', cursive;
  font-size: 40px;
  font-weight: bold;
}

@media(min-width:576px){
  .heading-font{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
    font-weight: bold;
  }
}
@media(min-width:768px){
  .heading-font{
    font-family: 'Yeseva One', cursive;
    font-size: 70px;
    font-weight: bold;
  }
}
@media(min-width:992px){
  .heading-font{
    font-family: 'Yeseva One', cursive;
    font-size: 90px;
    font-weight: bold;
  }
}

.subheading-font {
  font-size: 16px;
}

@media(min-width:576px){
  .subheading-font{
    font-size: 20px;
  }
}
@media(min-width:768px){
  .subheading-font{
    font-size: 26px;
  }
}
@media(min-width:992px){
  .subheading-font{
    font-size: 30px;
  }
}

.subtitle1 {
  font-size: 30px;
}

@media(min-width:576px){
  .subtitle1{
    font-size: 40px;
  }
}
@media(min-width:768px){
  .subtitle1{
    font-size: 50px;
  }
}
@media(min-width:992px){
  .subtitle1{
    font-size: 70px;
  }
}

.subtitle2 {
  font-size: 50px;
}

@media(min-width:576px){
  .subtitle2{
    font-size: 60px;
  }
}
@media(min-width:768px){
  .subtitle2{
    font-size: 70px;
  }
}
@media(min-width:992px){
  .subtitle2{
    font-size: 90px;
  }
}

.subtitle3 {
  font-size: 70px;
}

@media(min-width:576px){
  .subtitle3{
    font-size: 80px;
  }
}
@media(min-width:768px){
  .subtitle3{
    font-size: 90px;
  }
}
@media(min-width:992px){
  .subtitle3{
    font-size: 110px;
  }
}
.subheading-title {
  font-size: 30px;
}

@media(min-width:576px){
  .subheading-title{
    font-size: 35px;
  }
}
@media(min-width:768px){
  .subheading-title{
    font-size: 40px;
  }
}
@media(min-width:992px){
  .subheading-title{
    font-size: 50px;
  }
}
.slider-head-font {
  font-size: 10px;
}

@media(min-width:576px){
  .slider-head-font{
    font-size: 12px;
  }
}
@media(min-width:768px){
  .slider-head-font{
    font-size: 14px;
  }
}
@media(min-width:992px){
  .slider-head-font{
    font-size: 16px;
  }
}
.slider-body-font {
  font-size: 8px;
}

@media(min-width:576px){
  .slider-body-font{
    font-size: 10px;
  }
}
@media(min-width:768px){
  .slider-body-font{
    font-size: 12px;
  }
}
@media(min-width:992px){
  .slider-body-font{
    font-size: 14px;
  }
}

.tutorial-font {
  font-size: 16px;
  line-height:1.3
}
@media(min-width:576px){
  .tutorial-font{
    font-size: 18px;
    line-height:1.3;
  }
}
@media(min-width:768px){
  .tutorial-font{
    font-size: 20px;
    line-height:1.3;
  }
}
@media(min-width:992px){
  .tutorial-font{
    font-size: 22px;
    line-height:1.3;
  }
}

.purchase-font {
  font-size:18px; 
  line-height:1.5em;
}
@media(min-width:576px){
  .purchase-font{
    font-size: 20px;
    line-height:1.8em;
  }
}
@media(min-width:768px){
  .purchase-font{
    font-size: 22px;
    line-height:2.0em;
  }
}
@media(min-width:992px){
  .purchase-font{
    font-size: 24px;
  }
}
.footer-font {
  font-size:12px; 
}
@media(min-width:576px){
  .footer-font{
    font-size: 14px;
  }
}
@media(min-width:768px){
  .footer-font{
    font-size: 16px;
  }
}
.welcome-font {
  font-size:26px; 
}
@media(min-width:576px){
  .welcome-font{
    font-size: 36px;
  }
}
@media(min-width:768px){
  .welcome-font{
    font-size: 40px;
  }
}
@media(min-width:1200px){
  .welcome-font{
    font-size: 50px;
  }
}

/* tab customize */
.nav-pills {
  background-color: #66CAD1;
  border:2px solid #008080;
}

.nav-item {
  background-color: #66CAD1;
}

.nav-item:active .nav-link,
.nav-item:active .nav-link:visited {
  background-color:#008080 !important;
  color: #ffffff;
  border-radius: 0;
}

.nav-item .nav-link,
.nav-item .nav-link:focus,
.nav-item .nav-link:hover {
  color:#ffffff;
}
.nav-link.active {
  background-color:#008080 !important;
  border-radius: 0 !important;
}

/* button customize in bootstrap */
.btn-primary {
  background-color: #008080;
  border-color: #008080;
  color: #FFF; 
}
.btn-primary:hover, .btn-primary:focus {
  border-color: #008080;
  background-color: #008080;
  box-shadow: none;
  color: #FFF; 
}
/*
.btn-primary:active, .btn-primary:visited, .btn-primary:active:focus, .btn-primary:active:hover {
  border-color: #008080;
  background-color: #008080;
  color: #FFF; 
}*/
.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  border-color: #008080;
  background-color: #008080;
  color: #FFF; 
  box-shadow: none;
}
.btn-primary.sharp{
  border-radius: 0;
}
.btn-primary.raised {
	box-shadow: 0 3px 0 0 #003636;
}
.btn-primary.raised:active, body .btn-primary.raised.active {
	background: #008080;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
.btn-primary.btn-lg {
	font-size: 30px;
}
@media(min-width:576px){
  .btn-primary.btn-lg{
    font-size: 38px;
  }
}
@media(min-width:768px){
  .btn-primary.btn-lg{
    font-size: 42px;
  }
}
@media(min-width:992px){
  .btn-primary.btn-lg{
    font-size: 52px;
  }
}

.btn-primary.general {
  font-size: 20px;
  padding:5px 38px;
}
@media(min-width:576px){
  .btn-primary.general{
    font-size: 22px;
    padding:5px 42px;
  }
}
@media(min-width:768px){
  .btn-primary.general{
    font-size: 24px;
    padding:5px 46px;
  }
}
@media(min-width:992px){
  .btn-primary.general{
    font-size: 26px;
    padding:5px 50px;
  }
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #008080;
  border-color: #008080;
}

.btn.disabled, .btn:disabled {
  opacity: .5;
}

.btn-secondary {
  background-color: #EFEEEC;
  border-color: #EFEEEC;
  color: #9C9C9C; 
}
.btn-secondary:hover, .btn-secondary:focus {
  border-color: #EFEEEC;
  background-color: #EFEEEC;
  box-shadow: none;
  color: #9C9C9C; 
}
/*
.btn-secondary:active, .btn-secondary:visited, .btn-secondary:active:focus, .btn-secondary:active:hover {
  border-color: #EFEEEC;
  background-color: #EFEEEC;
  color: #9C9C9C; 
}*/
.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  border-color: #EFEEEC;
  background-color: #EFEEEC;
  color: #9C9C9C; 
  box-shadow: none;
}
.btn-secondary.sharp{
  border-radius: 0;
}
.btn-secondary.raised {
	box-shadow: 0 3px 0 0 #9C9C9C;
}
.btn-secondary.raised:active, .btn-secondary.raised.active {
	background: #EFEEEC;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
.btn-secondary.btn-lg {
	font-size: 42px;
}
.btn-secondary.general {
  font-size: 20px;
  padding:5px 40px;
}

.btn-success {
  background-color: #66CAD1;
  border-color: #66CAD1;
  color: #FFF; 
}
.btn-success:hover, body .btn-success:focus {
  border-color: #66CAD1;
  background-color: #66CAD1;
  box-shadow: none;
  color: #FFF; 
}
/*
.btn-success:active, .btn-success:visited, .btn-success:active:focus, .btn-success:active:hover {
  border-color: #66CAD1;
  background-color: #66CAD1;
  color: #FFF; 
}
*/
.btn-success:not([disabled]):not(.disabled).active, .btn-success:not([disabled]):not(.disabled):active, .show>.btn-success.dropdown-toggle{
  border-color: #66CAD1;
  background-color: #66CAD1;
  color: #FFF; 
  box-shadow: none;
}
/* table customize */

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td{
  border: 0px;
}
.table-bordered > tbody{
  border: 0px;
}
.table-bordered > thead {
  border: 1px solid #66CAD1;
}
.table-bordered{
  border:0px !important;
}

/* customize + button */
.bg-circle, .bg-circle:link, .bg-circle:visited, .bg-circle:hover, .bg-circle:active {
  background-color: #66CAD1;
  border-radius:50%;
  text-decoration: none;
}

/* vertical color panel */
#color-vslider {
	width: 10px;
    margin:0 auto;
    background: -webkit-linear-gradient(bottom, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%);
    background: -moz-linear-gradient(bottom, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%);
    background: -o-linear-gradient(bottom, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%);
    background: linear-gradient(bottom, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%);
	border-radius: 5px;
  border: 0px;
  float:right;  
}
#custom-vhandle {
	border-radius: 50%;
	width: 2em;
	height: 2em;
	top: 60%;
	margin-top: -1em;
	background-color: rgb(255,0,0);
  border: 0px;
  margin-right:-1.6em;
  float: right;
}

.modal-custom{
  margin-top:auto;
  margin-bottom:auto;
  width:400px;
  height:600px;
  padding:0px;
}

.modal-paypal{
  margin-top:auto;
  margin-bottom:auto;
  width:400px;
  height:400px;
  padding:0px;
}

.radio-button-on {
	border-radius: 50%;
	width: 25px;
  height: 25px;
  margin-top:5px;
	background-color: #008080;
  border: 2px solid #ffffff;
}
.radio-button-off {
	border-radius: 50%;
	width: 25px;
  height: 25px;
  margin-top:5px;
	background-color: #ffffff;
  border: 2px solid #ffffff;
}

/* Loading for please wait... */
#loading-div-background 
{
    display:none;
    position:fixed;
    top:0;
    left:0;
    background:black;
    width:100%;
    height:100%;
 }
 #loading-div
 {
    width: 300px;
    height: 200px;
    background-color: #0c0b0b;
    text-align:center;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left:-150px;
    margin-top: -100px;
  }
  
  .modal-logout{
    margin-top:50px;
    margin-right:20px !important;
    width:400px;
    height:150px;
    padding:0px;
  }

  .modal-alert{
    margin-top:auto;
    margin-bottom:auto;
    width:400px;
    height:180px;
    padding:0px;
  }

  .hide {
    display:none;
  }
  
  /* user answers circle div */
  .circle-section {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: red;
    float: left;
  }
  @media(min-width:500px){
    .circle-section {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      background-color: red;
      float: left;
    }
  }
  .arrow {
    width:0px;
    padding:45px 0px 0px 0px;
    margin-left: -7px;
  }
  @media(min-width:500px){
    .arrow {
      width:120px;
      padding:55px 0px 0px 0px;
      margin-left: -7px;
    }
  }
  .line {
    margin-top:7px;
    width:0px;
    background:blue;
    height:5px;
    float:left;
  }
  @media(min-width:500px){
    .line {
      margin-top:14px;
      width:75%;
      background:blue;
      height:10px;
      float:left;
    }
  }

  .point {    
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid blue;
    float:right;
  }
  @media(min-width:500px){
    .point {    
      width: 0;
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 30px solid blue;
      float:right;
    }
  }
  .radial-size {
    width:100px;
    height:100px;
    float:right;
  }
  @media(min-width:500px){
    .radial-size {
      width:150px;
      height:150px;
      float:right;
    }
  }

  .result-font {
    font-size:30px; 
    padding:25px 0px
  }
  @media(min-width:500px){
    .result-font {
      font-size:45px; 
      padding:35px 0px
    }
  }

  /* scroll plus button at bottom  */
  .scroll-top {
    position: fixed;
    z-index: 1049;
    right: 2%;
    bottom: 2%;
    width: 70px;
    height: 70px;
  }