.color-slider {
	height: 10px;
	margin:0 auto;
	background: -webkit-linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%) !important;
	background: -moz-linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%) !important;
	background: -o-linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%) !important;
	background: linear-gradient(left, rgb(255,0,0) 0%, rgb(255,255,0) 50%, rgb(0,128,0) 100%) !important;
	border-radius: 5px;
	border: 0px;
}

.custom-handle {
	border-radius: 50% !important;
	width: 1.5em !important;
	height: 1.5em !important;
	top: 60% !important;
	margin-top: -.8em !important;
	background-color: rgb(255,0,0);
	border: 0px !important;
}

.slider-text {
	width:100px;
	height:100px;
	margin:100px auto;
	border-radius:2%;
	border: 2px solid blue;
}

.ui-slider .ui-slider-handle:focus { 
	outline: none; 
}