<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>Master Welcome</title>
    {{> head}}
    {{> head_custom}}

  </head>
  <body>
    <div class="bg-light-green text-white" style="padding:10px 20px">
      <div class="row" style="paddig:0px, margin:0px">
        <div class="col-6">
          <b style="font-size:20px">{{firm_name}}</b>
        </div>
        <div class="col-6 text-right">
          <a data-toggle="modal" data-target="#myModalLogout">
            <img src="hamburger.png" class="img-fluid" alt="master img" width="20" height="20">
          </a>
        </div>
      </div>
    </div>

<!-- Logout Modal treatment -->

      <div class="modal fade mx-auto modal-logout" id="myModalLogout">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-10">
                  <p style="font-size: 20px">
                    Are you going to go back?
                  </p>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row text-center" style="width:100%; margin:0px; padding:20px 20px">
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" data-dismiss="modal" aria-label="Close">
                    NO
                  </a>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" href="/master_role?master_code={{prev_master_code}}">
                    YES
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>

    <div class="bg-white" style="padding:10px">
      <div id="result_pdf" style="padding:10px">
        {{{data}}}
      </div>
      {{!-- <div class="row mx-auto">
        <div class="col-8 col-sm-9 col-md-10 col-lg-11"></div>
        <div class="col-4 col-sm-3 col-md-2 col-lg-1">
          <div class="row mx-auto" style="width:70px">
            <a class="" style="" href="#"><img src="+button.png" class="img-fluid mx-auto" alt="master img" width="300" height="300"></a>
          </div>
        </div>
      </div> --}}
    </div>
    <script src="/script/radial_guage.js"></script>
    <script>
      $(function(){
        ajax_change();
      });
    </script>
  </body>
</html>