<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>Master Welcome</title>
    {{> head}}
    {{> head_custom}}
  </head>
  <body>
    <div class="bg-light-green text-white" style="min-height:6%; padding:10px 20px">
      <div class="row" style="paddig:0px, margin:0px">
        <div class="col-6">
          <b style="font-size:20px">{{firm_name}}</b>
        </div>
        <div class="col-6 text-right">
          <a data-toggle="modal" data-target="#myModalLogout">
            <img src="hamburger.png" class="img-fluid" alt="master img" width="20" height="20">
          </a>
        </div>
      </div>
    </div>

<!-- Logout Modal treatment -->

      <div class="modal fade mx-auto modal-logout" id="myModalLogout">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-10">
                  <p id="goback_text" style="font-size: 20px">
                    Are you going to logout?
                  </p>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row text-center" style="width:100%; margin:0px; padding:20px 20px">
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" data-dismiss="modal" aria-label="Close">
                    NO
                  </a>
                </div>
                <div class="col-6">
                  <a id="goback_link" class="btn btn-primary general sharp raised" href="/">
                    YES
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>

    <ul class="nav nav-pills nav-justified" style="min-height:5%">
      <li class="nav-item" style="padding:0px">
        <a class="nav-link active" style="padding:10px 5px" data-toggle="tab" href="#code"><b style="font-size:20px">CODES</b></a>
      </li>
      <li class="nav-item" style="padding:0px">
        <a class="nav-link" style="padding:10px 5px" data-toggle="tab" href="#reports"><b style="font-size:20px">REPORTS</b></a>
      </li>
    </ul>
    <div class="tab-content bg-light-grey" style="min-height:88%">
      <div role="tabpanel" class="tab-pane fade in active show" id="code">
        <div class="bg-light-grey" style="padding: 30px 5px">
          <div id="code_master">
            <div class="bg-white basic-width mx-auto border-dark-green" style="min-height:360px">
              <div class="border-light-green" style="font-size:30px; padding:5px">
                <b>MASTER CODES</b>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Number</th>
                    <th>Code</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each master_code}}
                    <tr class="master_code">
                      <td class="code">{{@index}}</td>
                      <td class="getMasterCode">{{code}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="bg-white basic-width mx-auto border-dark-green" style="min-height:360px">
              <div class="border-light-green" style="font-size:30px; padding:5px">
                <b>USER CODES</b>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Number</th>
                    <th>Code</th>
                    {{!-- <th>Status1</th>
                    <th>Status2</th> --}}
                  </tr>
                </thead>
                <tbody>
                  {{#each user_code}}
                    <tr class="user_code">
                      <td class="code">{{@index}}</td>
                      <td class="getUserCode">{{code}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{!-- <div class="row mx-auto">
            <div class="col-8 col-sm-9 col-md-10 col-lg-11"></div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1">
              <div class="mx-auto" style="width:70px">
                <a id="master_code_plus" style=""><img src="+button.png" class="img-fluid mx-auto" alt="master img" width="300" height="300"></a>
              </div>
            </div>
          </div> --}}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="reports">
        <div class="bg-light-grey">
          <div id="reports_master">
            {{#if res_value}}
              {{{data}}}
            {{else}}
              <div class="row mx-auto" style="padding:70px 20px; min-height:750px">
                <div clss="col-xl-1"></div> 
                <div class="col-xl-4 col-lg-5">
                  <div class="form-group mx-auto text-grey text-center" style="width: 100%">
                    <img src="master_report.png" class="img-fluid rounded-circle" alt="master reports img" width="500" height="500">
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                  <div class="form-group mx-auto text-light-green" style="width:80%; padding:20px">
                    <p class="welcome-font">
                      Thanks for<br>
                      your cooperation...<br>
                      Please tap on new icon 
                      to start creating reports
                    </p>
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="row mx-auto">
            <div class="col-8 col-sm-9 col-md-10 col-lg-11"></div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1">              
              <div class="mx-auto scroll-top" style="width:70px">
                <a class="" id="reportSelect" data-toggle="modal" data-target="#myModal"><img src="+button.png" class="img-fluid mx-auto" alt="master img" width="" height=""></a>
              </div>
            </div>
          </div>
        </div>

        <!-- The Modal Dialog-->
        <div class="modal fade mx-auto modal-custom" id="myModal">
          <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
            <div class="modal-content bg-light-green" style="width:100%; height:100%">
              <div class="modal-body text-white">
                {{!-- <form name="form" action="/build_creteria" method="post"> --}}
                  <div class="row" style="padding:5px 20px">
                    <div class="col-1">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="col-10">
                      <p style="font-size: 26px">
                        Select criterias:
                      </p>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="organization_years" class="form-control mx-auto text-center">
                        <option value="" selected>Years work for organization</option>
                        <option value="Less than a year">Less than a year</option>
                        <option value="1-5years">1-5years</option>
                        <option value="6-10years">6-10years</option>
                        <option value="11-15years">11-15years</option>
                        <option value="15-20years">15-20years</option>
                        <option value="More than 20years">More than 20years</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="job_category" class="form-control mx-auto text-center">
                        <option value="" selected>Class of Job Category</option>
                        <option value="Worker">Worker</option>
                        <option value="Officer">Officer</option>
                        <option value="other">other</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="current_job_years" class="form-control mx-auto text-center">
                        <option value="" selected>Years of working in current job</option>
                        <option value="Less than a year">Less than a year</option>
                        <option value="1-5years">1-5years</option>
                        <option value="6-10years">6-10years</option>
                        <option value="11-15years">11-15years</option>
                        <option value="15-20years">15-20years</option>
                        <option value="More than 20years">More than 20years</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="work_type" class="form-control mx-auto text-center">
                        <option value="" selected>Type of work arrangement</option>
                        <option value="Full time">Full time</option>
                        <option value="Part time">Part time</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="birthday" class="form-control mx-auto text-center">
                        <option value="" selected>Age</option>
                        <option value="Below 15 years old">Below 15 years old</option>
                        <option value="15-20 years old">15-20 years old</option>
                        <option value="20-25 years old">20-25 years old</option>
                        <option value="25-30 years old">25-30 years old</option>
                        <option value="30-35 years old">30-35 years old</option>
                        <option value="35-40 years old">35-40 years old</option>
                        <option value="40-45 years old">40-45 years old</option>
                        <option value="45-50 years old">45-50 years old</option>
                        <option value="50-55 years old">50-55 years old</option>
                        <option value="55-60 years old">55-60 years old</option>
                        <option value="60-65 years old">60-65 years old</option>
                        <option value="65-70 years old">65-70 years old</option>
                        <option value="70-75 years old">70-75 years old</option>
                        <option value="75-80 years old">75-80 years old</option>
                        <option value="80-85 years old">80-85 years old</option>
                        <option value="85-90 years old">85-90 years old</option>
                        <option value="90-95 years old">90-95 years old</option>
                        <option value="Above 95 years old">Above 95 years old</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="gender" class="form-control mx-auto text-center">
                        <option value="" selected>Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="organization_location" class="form-control mx-auto text-center">
                        <option value="" selected>Location of the organization</option>
                        <option value="Large metropolitan area">Large metropolitan area</option>
                        <option value="Rural area">Rural area</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <div class="row modal-dialog-custom" style="padding:5px">
                    <div class="col-1"></div>
                    <div class="col-1">
                      <div class="radio-button radio-button-on"></div>
                    </div>
                    <div class="col-9">
                      <select id="employees_type" class="form-control mx-auto text-center">
                        <option value="" selected>Type of employees</option>
                        <option value="same cultureal background">same cultureal background</option>
                        <option value="diverse cultureal background">diverse cultureal background</option>
                      </select>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  <input id="method" type="hidden" name="link_id" value="{{link_id.0.link_id}}"> 
                  <input id="method" type="hidden" name="master_code" value="{{current_master_code}}"> 
                  <div class="row">
                    <div class="form-group mx-auto" style="padding-top:40px">
                      <button type="submit" id="dialog-build" data-dismiss="modal" class="btn btn-primary general sharp raised" >BUILD IT</button>
                    </div>
                  </div>
                {{!-- </form> --}}
              </div>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
    </div>
    <script src="/script/radial_guage.js"></script>
    <script>
      
    $( function() {   

      $(".master_code").each(function(){
        $(".code", $(this)).text(parseInt($(".code", $(this)).text()) + 1);
      });

      $(".user_code").each(function(){
        $(".code", $(this)).text(parseInt($(".code", $(this)).text()) + 1);
      });

      $(".modal-dialog-custom").each(function(){
        var $this = $(this);
        var radio_button = $( ".radio-button", $this );

        $("select", $this).change(function(){
          if ($('select :selected',$this).val()==""){
            radio_button.removeClass("radio-button-off");
            radio_button.addClass('radio-button-on');
          } else {
            radio_button.removeClass("radio-button-on");
            radio_button.addClass('radio-button-off');
          }
        });
      });
    });

    $('#master_code_plus').click(function(event){
      
      var masterCode='{{current_master_code}}';
      console.log("masterCode", masterCode);

      $.post("/master_code", {masterCode: masterCode}, function(data){
        if(data){
          $("#code_master").html(data);
        }
      });
    });

    $('#dialog-build').click(function(event){
      
      var masterCode='{{current_master_code}}';
      console.log("masterCode", masterCode);

      var organization_years = $('#organization_years').val();
      var job_category = $('#job_category').val();
      var current_job_years = $('#current_job_years').val();
      var work_type = $('#work_type').val();
      var birthday = $('#birthday').val();
      var gender = $('#gender').val();
      var organization_location = $('#organization_location').val();
      var employees_type = $('#employees_type').val();
      var master_code = '{{current_master_code}}';
      var link_id = '{{link_id.0.link_id}}';

      $.post("/build_creteria", {master_code: master_code,
                                organization_years:organization_years,
                                job_category:job_category,
                                current_job_years:current_job_years,
                                work_type:work_type,
                                birthday:birthday,
                                gender:gender,
                                organization_location:organization_location,
                                employees_type:employees_type,
                                link_id: link_id}, function(data){
        if(data){
          $("#reports_master").html(data);
        } else {
          $("#reports_master").html('There is no data to show.');
        }
      });
    });
    </script>
  </body>
</html>