<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>Master Welcome</title>
    {{> head}}
  </head>
  <body>
    <div class="bg-light-grey text-light-green" style="min-height:6%; padding:10px 20px">
      <div class="row" style="paddig:0px, margin:0px">
        <div class="col-6">
          <b style="font-size:20px">{{firm_name}}</b>
        </div>
        <div class="col-6 text-right">
          <a data-toggle="modal" data-target="#myModalLogout">
            <img src="hamburger_lightgreen.png" class="img-fluid" alt="master img" width="20" height="20">
          </a>
        </div>
      </div>
    </div>

<!-- Logout Modal treatment -->

      <div class="modal fade mx-auto modal-logout" id="myModalLogout">
        <div class="modal-dialog" style="width:100%; height:100%; padding:0px; margin:0px">
          <div class="modal-content border-dark-green" style="width:100%; height:100%">
            <div class="modal-body text-white" style="margin:0px; padding:0px">
              <div class="row bg-dark-green text-center" style="width:100%; margin:0px; padding:5px 20px">
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="col-10">
                  <p style="font-size: 20px">
                    Are you going to logout?
                  </p>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row text-center" style="width:100%; margin:0px; padding:20px 20px">
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" data-dismiss="modal" aria-label="Close">
                    NO
                  </a>
                </div>
                <div class="col-6">
                  <a class="btn btn-primary general sharp raised" href="/">
                    YES
                  </a>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>

    <div class="bg-light-green" style="min-height:94%">
      <div class="row mx-auto" style="padding:70px 20px 10px 20px;  min-height:70%">
        <div class="col-lg-7">
          <div class="form-group bg-light-green text-white mx-auto" style="width:80%; padding:20px">
            <p class="welcome-font"><b>Welcome Master</b></p>
            <p class="welcome-font">
              You are<br>
              one of the keys...<br>
              to figure out about 
              the GAP of the values
              at your firm.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="form-group mx-auto text-grey text-center" style="padding-top:50px; width: 100%">
            <img src="master.jpg" class="img-fluid rounded-circle" alt="master img" width="400" height="400">
          </div>
        </div>
      </div>
      <div class="row mx-auto" style="height:200px">
        <a class="btn btn-success subheading-title text-right" style="padding:50px; width:100%" href="/master_role?master_code={{master_code}}">Next</a>
      </div>
    </div>
  </body>
</html>